*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    cursor: pointer;
  }

.over{
    display: flex;
    justify-content: space-around;
    background-color: #303030;
    padding: 15px;
    color:white
}

.over a{
    color:#dfd9d9;
    padding-left: 20px;
    text-decoration: none;
}

.over a:hover{
    color:rgb(243, 255, 137);
}

.under{
    margin-top: -0.1px;
    margin-bottom: -78px;
    display: flex;
    justify-content: space-around;
}

.under_left img{
    width: 70%;
    height: 70%;
}

.under_right{
    padding: 70px;
}

.under_right a{
    color: #303030;
    font-size: 150%;
    padding: 0 15px;
    text-decoration: none;
}

.under_right a:hover{
    color: rgb(235, 241, 180);
}

header{
    width: 100%;
}

.txt{
    top: 30%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:white;
    font-size: 72px;
    position: relative;
    justify-content: center;
}

.up{
    background-repeat:no-repeat;
    background-size: cover;
    height: 550px;
    margin-bottom: 50px;
}

.head{
    display: flex;
    justify-content: space-between;
    font-family:'Times New Roman', Times, serif;
}

.ppp{
    display: grid;
    margin-left: 110px;
}

.head .rm{
    margin: 80px 150px 0 0;
}

.msgph{
    margin-top:-150px;
    margin-left: -350px;
}

.rm{
    width: 130px;
    height: 35px;
    background-color:white;
    border-color: #023e8a;
}

.rm:hover{
    box-shadow: 0 6px 8px 0 blue,0 8px 12px 0 blueviolet;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s; 
}

.rm a{
    text-decoration: none;
    color:black;
}

.rm a:hover{
    color:#023e8a;
}

.cards{
	display: flex;
	justify-content: space-evenly;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #303030;
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 30px;
}

.card{
    text-align: center;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    width: 300px;
    box-shadow: 0px 0px 15px 0.3px #023e8a;
}

.card:hover{
    transform: translateY(-10px);
}

.clubbb{
    font-family: 'Domine', serif;
    font-weight: bold;
}

.title{
	font-size: 15px;
    padding-bottom: 10px;
    font-family: 'Domine', serif;

}

.card img{
margin-left: 80px;
margin-top: 20px;
margin-bottom: 20px;
}

.button {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #023e8a;
    border-radius: 13px;
    width: 130px;
    margin-left: 70px;
}
  
.button:hover{
   color:#303030 
}
  
.imgg{
    margin-top: -35%;
    box-shadow: 0px 0px 20px 0.5px rgb(0, 0, 0);
    margin-left: 58%;
    z-index: -1;
    margin-bottom: 70px;
}

.parallax {
    background-image: url("/img/pic_1.jpg");
    width:100%;
    height: 300px;
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 60px;
    align-items: center;
    position: relative;
    display: grid;
}
    
.parallax .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 2;
}
    
.parallax h1 {
    z-index: 3;
}
    
.parallax p{
    z-index: 3;
    font-size: 20px;
}
    
form{
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin-left: 360px;
}

#zapis{
    margin-left: 345px;
    margin-top: 30px;
}
    
#fideback{
    margin-top: 50px;
}
    
.ques{
    margin-bottom: 100px;
    margin-left: 382px;
}
    
.ques h1{
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#023e8a;
}
    
.adv {
    background-image: url('/img/asty.PNG');
    background-position: center;
}
    
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(102, 98, 98,40%);
}
    
.rightt{
    display: grid;
    height: 100px;
    padding-top: 80px;
}
  
.rightt a{
    text-decoration: none;
    color:saddlebrown;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
 
.rightt a:hover{
    color:sandybrown;
}

form{
  margin-top: -80px;
}

.messg{
    margin-left: 15px; 
}